body {
    background-color: beige;
}

/* Clases css */

.letraRoja {
    color: red;
    text-align: center;
}

p span {
    color: rgb(0, 162, 255);
}

.fotoPortada {
    border-radius: 0%/60%;
    width : 300px;
    height : 300px;
}